<!-- Item: Offenbacher2016Mar -->
<li >
Steven Offenbacher, Kimon Divaris, Silvana P. Barros et al.,
&ldquo;<b><em>Genome-wide association study of biologically informed periodontal complex traits offers novel insights into the genetic basis of periodontal disease</em></b>&rdquo;,
pp. 2113-2129,
Mar
2016.






<a href="javascript:toggleBibtex('Offenbacher2016Mar')">[BibTeX]</a>



<div id="bib_Offenbacher2016Mar" class="bibtex noshow">
<pre>
@article{Offenbacher2016Mar,
  author = {Offenbacher, Steven and Divaris, Kimon and Barros, Silvana P. and Moss, Kevin L. and Marchesan, Julie T. and Morelli, Thiago and Zhang, Shaoping and Kim, Steven and Sun, Lu and Beck, James D. and Laudes, Matthias and Munz, Matthias and Schaefer, Arne S. and North, Kari E.},
  title = {Genome-wide association study of biologically informed periodontal complex traits offers novel insights into the genetic basis of periodontal disease},
  journal = {hmg.},
  publisher = {Narnia},
  year = {2016},
  volume = {25},
  number = {10},
  pages = {2113--2129},
  doi = {http://doi.org/10.1093/hmg/ddw069}
}
</pre></div>
</li>
