<!-- Item: Munz2015May -->
<li >
Matthias Munz, Sascha Tifmmodeoelse&ouml;&#64257;nnies, Wolf-Tilo Balke et al.,
&ldquo;<b><em>Multidimensional gene search with Genehopper</em></b>&rdquo;,
pp. W98-W103,
May
2015.






<a href="javascript:toggleBibtex('Munz2015May')">[BibTeX]</a>



<div id="bib_Munz2015May" class="bibtex noshow">
<pre>
@article{Munz2015May,
  author = {Munz, Matthias and Tifmmodeoelse&ouml;&#64257;nnies, Sascha and Balke, Wolf-Tilo and Simon, Eric},
  title = {Multidimensional gene search with Genehopper},
  journal = {Nucleic Acids Res.},
  publisher = {Narnia},
  year = {2015},
  volume = {43},
  number = {W1},
  pages = {W98--W103},
  doi = {http://doi.org/10.1093/nar/gkv511}
}
</pre></div>
</li>
<!-- Item: Tinhofer2015Aug -->
<li >
Ingeborg Tinhofer, Franziska Niehr, Robert Konschak et al.,
&ldquo;<b><em>Next-generation sequencing: hype and hope for development of personalized radiation therapy?</em></b>&rdquo;,
pp. 183,
Aug
2015.






<a href="javascript:toggleBibtex('Tinhofer2015Aug')">[BibTeX]</a>



<div id="bib_Tinhofer2015Aug" class="bibtex noshow">
<pre>
@article{Tinhofer2015Aug,
  author = {Tinhofer, Ingeborg and Niehr, Franziska and Konschak, Robert and Liebs, Sandra and Munz, Matthias and Stenzinger, Albrecht and Weichert, Wilko and Keilholz, Ulrich and Budach, Volker},
  title = {Next-generation sequencing: hype and hope for development of personalized radiation therapy?},
  journal = {Radiat. Oncol.},
  publisher = {BioMed Central},
  year = {2015},
  volume = {10},
  number = {1},
  pages = {183},
  doi = {http://doi.org/10.1186/s13014-015-0481-x}
}
</pre></div>
</li>
