<!-- Item: Aarabi2018 -->
<li >
Ghazal Aarabi, Tanja Zeller, Guido Heydecke et al.,
&ldquo;<b><em>Roles of the Chr.9p21.3 ANRIL Locus in Regulating Inflammation and Implications for Anti-Inflammatory Drug Target Identification</em></b>&rdquo;,


2018.






<a href="javascript:toggleBibtex('Aarabi2018')">[BibTeX]</a>



<div id="bib_Aarabi2018" class="bibtex noshow">
<pre>
@article{Aarabi2018,
  author = {Aarabi, Ghazal and Zeller, Tanja and Heydecke, Guido and Munz, Matthias and Schifmmodeaelse&auml;&#64257;fer, Arne and Seedorf, Udo},
  title = {Roles of the Chr.9p21.3 ANRIL Locus in Regulating Inflammation and Implications for Anti-Inflammatory Drug Target Identification},
  journal = {Front. Cardiovasc. Med.},
  publisher = {Frontiers Media SA},
  year = {2018},
  volume = {5},
  doi = {http://doi.org/10.3389/fcvm.2018.00047}
}
</pre></div>
</li>
<!-- Item: Munz2018Sep -->
<li >
Matthias Munz, Gesa M. Richter, Bruno G. Loos et al.,
&ldquo;<b><em>Meta-analysis of genome-wide association studies of aggressive and chronic periodontitis identifies two novel risk loci</em></b>&rdquo;,
pp. 102-113,
Sep
2018.






<a href="javascript:toggleBibtex('Munz2018Sep')">[BibTeX]</a>



<div id="bib_Munz2018Sep" class="bibtex noshow">
<pre>
@article{Munz2018Sep,
  author = {Munz, Matthias and Richter, Gesa M. and Loos, Bruno G. and Jepsen, S&oslash;ren and Divaris, Kimon and Offenbacher, Steven and Teumer, Alexander and Holtfreter, Birte and Kocher, Thomas and Bruckmann, Corinna and Jockel-Schneider, Yvonne and Graetz, Christian and Ahmad, Ilyas and Staufenbiel, Ingmar and van der Velde, Nathalie and Uitterlinden, Andrifmmodeeelse&eacute;&#64257; G. and de Groot, Lisette C. P. G. M. and Wellmann, Jifmmodeuelse&uuml;&#64257;rgen and Berger, Klaus and Krone, Bastian and Hoffmann, Per and Laudes, Matthias and Lieb, Wolfgang and Franke, Andre and Erdmann, Jeanette and Dommisch, Henrik and Schaefer, Arne S.},
  title = {Meta-analysis of genome-wide association studies of aggressive and chronic periodontitis identifies two novel risk loci},
  journal = {Eur. J. Hum. Genet.},
  publisher = {Nature Publishing Group},
  year = {2018},
  volume = {27},
  number = {1},
  pages = {102--113},
  doi = {http://doi.org/10.1038/s41431-018-0265-5}
}
</pre></div>
</li>
<!-- Item: Munz2018Sep -->
<li >
Matthias Munz, Gesa M. Richter, Bruno G. Loos et al.,
&ldquo;<b><em>Genome-wide association meta-analysis of coronary artery disease and periodontitis reveals a novel shared risk locus</em></b>&rdquo;,
pp. 13678,
Sep
2018.






<a href="javascript:toggleBibtex('Munz2018Sep')">[BibTeX]</a>



<div id="bib_Munz2018Sep" class="bibtex noshow">
<pre>
@article{Munz2018Sep,
  author = {Munz, Matthias and Richter, Gesa M. and Loos, Bruno G. and Jepsen, S&oslash;ren and Divaris, Kimon and Offenbacher, Steven and Teumer, Alexander and Holtfreter, Birte and Kocher, Thomas and Bruckmann, Corinna and Jockel-Schneider, Yvonne and Graetz, Christian and Munoz, Loreto and Bhandari, Anita and Tennstedt, Stephanie and Staufenbiel, Ingmar and van der Velde, Nathalie and Uitterlinden, Andrifmmodeeelse&eacute;&#64257; G. and de Groot, Lisette C. P. G. M. and Wellmann, Jifmmodeuelse&uuml;&#64257;rgen and Berger, Klaus and Krone, Bastian and Hoffmann, Per and Laudes, Matthias and Lieb, Wolfgang and Franke, Andre and Dommisch, Henrik and Erdmann, Jeanette and Schaefer, Arne S.},
  title = {Genome-wide association meta-analysis of coronary artery disease and periodontitis reveals a novel shared risk locus},
  journal = {Sci. Rep.},
  year = {2018},
  volume = {8},
  number = {1},
  pages = {13678},
  doi = {http://doi.org/10.1038/s41598-018-31980-8}
}
</pre></div>
</li>
<!-- Item: Nashef2018Jan -->
<li >
A. Nashef, R. Qabaja, Y. Salaymeh et al.,
&ldquo;<b><em>Integration of Murine and Human Studies for Mapping Periodontitis Susceptibility</em></b>&rdquo;,
pp. 537-546,
Jan
2018.






<a href="javascript:toggleBibtex('Nashef2018Jan')">[BibTeX]</a>



<div id="bib_Nashef2018Jan" class="bibtex noshow">
<pre>
@article{Nashef2018Jan,
  author = {Nashef, A. and Qabaja, R. and Salaymeh, Y. and Botzman, M. and Munz, M. and Dommisch, H. and Krone, B. and Hoffmann, P. and Wellmann, J. and Laudes, M. and Berger, K. and Kocher, T. and Loos, B. and van der Velde, N. and Uitterlinden, A. G. and de Groot, L. C. P. G. M. and Franke, A. and Offenbacher, S. and Lieb, W. and Divaris, K. and Mott, R. and Gat-Viks, I. and Wiess, E. and Schaefer, A. and Iraqi, F. A. and Haddad, Y. H.},
  title = {Integration of Murine and Human Studies for Mapping Periodontitis Susceptibility},
  journal = {J. Dent. Res.},
  publisher = {SAGE Publications Inc},
  year = {2018},
  volume = {97},
  number = {5},
  pages = {537--546},
  doi = {http://doi.org/10.1177/0022034517744189}
}
</pre></div>
</li>
<!-- Item: Offenbacher2018Sep -->
<li >
Steven Offenbacher, Yizu Jiao, Steven J. Kim et al.,
&ldquo;<b><em>GWAS for Interleukin-1&beta; levels in gingival crevicular fluid identifies IL37 variants in periodontal inflammation</em></b>&rdquo;,
pp. 1-17,
Sep
2018.






<a href="javascript:toggleBibtex('Offenbacher2018Sep')">[BibTeX]</a>



<div id="bib_Offenbacher2018Sep" class="bibtex noshow">
<pre>
@article{Offenbacher2018Sep,
  author = {Offenbacher, Steven and Jiao, Yizu and Kim, Steven J. and Marchesan, Julie and Moss, Kevin L. and Jing, Li and Divaris, Kimon and Bencharit, Sompop and Agler, Cary S. and Morelli, Thiago and Zhang, Shaoping and Sun, Lu and Seaman, William T. and Cowley, Dale and Barros, Silvana P. and Beck, James D. and Munz, Matthias and Schaefer, Arne S. and North, Kari E.},
  title = {GWAS for Interleukin-1&beta; levels in gingival crevicular fluid identifies IL37 variants in periodontal inflammation},
  journal = {Nat. Commun.},
  publisher = {Nature Publishing Group},
  year = {2018},
  volume = {9},
  number = {3686},
  pages = {1--17},
  doi = {http://doi.org/10.1038/s41467-018-05940-9}
}
</pre></div>
</li>
<!-- Item: Schaich2018 -->
<li >
Anja Schaich, Anna L. Westermair, Matthias Munz et al.,
&ldquo;<b><em>Mental Health and Psychosocial Functioning Over the Lifespan of German Patients Undergoing Cardiac Catheterization for Coronary Artery Disease</em></b>&rdquo;,


2018.






<a href="javascript:toggleBibtex('Schaich2018')">[BibTeX]</a>



<div id="bib_Schaich2018" class="bibtex noshow">
<pre>
@article{Schaich2018,
  author = {Schaich, Anja and Westermair, Anna L. and Munz, Matthias and Nitsche, Stefan and Willenborg, Bastian and Willenborg, Christina and Schunkert, Heribert and Erdmann, Jeanette and Schweiger, Ulrich},
  title = {Mental Health and Psychosocial Functioning Over the Lifespan of German Patients Undergoing Cardiac Catheterization for Coronary Artery Disease},
  journal = {Front. Psychiatry},
  publisher = {Frontiers Media SA},
  year = {2018},
  volume = {9},
  doi = {http://doi.org/10.3389/fpsyt.2018.00338}
}
</pre></div>
</li>
<!-- Item: Westermair2018Dec -->
<li >
Anna L. Westermair, Matthias Munz, Anja Schaich et al.,
&ldquo;<b><em>Association of Genetic Variation at AQP4 Locus with Vascular Depression</em></b>&rdquo;,
pp. 164,
Dec
2018.






<a href="javascript:toggleBibtex('Westermair2018Dec')">[BibTeX]</a>



<div id="bib_Westermair2018Dec" class="bibtex noshow">
<pre>
@article{Westermair2018Dec,
  author = {Westermair, Anna L. and Munz, Matthias and Schaich, Anja and Nitsche, Stefan and Willenborg, Bastian and Muifmmodenelse&ntilde;&#64257;oz Venegas, Loreto M. and Willenborg, Christina and Schunkert, Heribert and Schweiger, Ulrich and Erdmann, Jeanette},
  title = {Association of Genetic Variation at AQP4 Locus with Vascular Depression},
  journal = {Biomolecules},
  publisher = {Multidisciplinary Digital Publishing Institute},
  year = {2018},
  volume = {8},
  number = {4},
  pages = {164},
  doi = {http://doi.org/10.3390/biom8040164}
}
</pre></div>
</li>
